body{
background-color: darkgrey;
}

img {
    border: 0;
    width: 80px;
    height: auto;
}

.navbar {
    background: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
}

.nav-link {
    color: black;
}

#footer {

    flex-shrink: 0;
    background-color: white;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;
}

.text-copyright{
    color:black;
}


/** -------------------- Here Start The Marketplace Page ---------------------------------- */

.border-listings{
    background-color: white;
    position: relative;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    box-shadow: black;
    margin-left: auto;
    margin-right: auto;
}


/** -------------------- Here Start The Ecommerce Listing ---------------------------------- */

.img-listing{
    width:200px;
    height: auto;
}
.ecommerce-name{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;

}

.ecommerce-location{
    position: absolute;
    bottom: 0;
    right: 15px;

}

.btn-listing{
    position: absolute;
    top:0;
    right: 15px;
    margin-top:15px;
    margin-bottom: 70px;
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
}

.btn-listing:hover {
    transform: scale(1.1);
    transition: all 0.6s;
}
/** -------------------- Here Start The Industrylist ---------------------------------- */

.container-industry{
    margin-top:15px;
    margin-bottom: 15px;
}

.img-fluid{
    width:484px;
    height:auto;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .text-overlay {
    opacity: 1;
}

.text {
    margin: 0;
}


PrevNext{
    font-size: 17px;
}
.PrevNext a, .PrevNext a:visited{
    background-color: #006969;
    box-shadow: 1px 1px #006969;
    border-radius: 4px;
    color: #fff;
    padding: 8px;
    margin: 16px;
    text-decoration: none;
}
.PrevNext a:hover{
    background-color: #004949;
    box-shadow: 1px 1px #004949;
}