<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta ecommerceName="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ecommercedetails.css}"  href="/css/start.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="internationalization.js"></script>


</head>
<body>

<div th:replace="~{/fragments/headerfooter :: header}">This is the header</div>

<div th:if="${applicationlisting}">

    <div class="container-fluid">
        <div class="row one">
            <div class="col-sm-8">
                <h2><a th:text="${applicationlisting.getApplicationName()}">klik hier</a></h2>
                <h4>Lorem ipsum..</h4>
                <p>Lorem ipsum..</p>


                <!--
                    <div th:each="industries: ${application.getIndustries()}">
                        <a class="btn btn-outline-danger" style="font-size: 40px;" th:href="@{'/industrydetails/'+${industries.getId()}}">
                            <span th:text="${industries.getIndustryName()}">industry name</span>
                        </a>
                    </div>
                </div>-->
            </div>


            <div class="col-sm-4">
                <img class="img-listing"th:src="@{|${applicationlisting.getApplicationImage()}|}" >
            </div>
        </div>
    </div>

    <!-- Container (Services Section) -->

    <div class="container-fluid text-center">
        <h2>More details about the business</h2>
        <br>
        <div class="row two">
            <div class="col-sm-4">
                <i class="fa-regular fa-star" style="font-size: 30px;"></i>
                <h4>Total Downloaded</h4>
                <span th:text="${applicationlisting.getTotalDownloaded()}">ecommerce</span>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-cart-shopping" style="font-size: 30px;"></i>
                <h4>Payment Method</h4>
                <span th:text="${applicationlisting.getPaymentMethod()}">ecommerce</span>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-mobile-alt" style="font-size: 30px;"></i>
                <h4>Type</h4>
                <span th:text="${applicationlisting.getType()}">ecommerce</span>
            </div>
        </div>
        <br><br>
        <div th:if="${applicationlisting}">
            <div class="PrevNext">
                <div th:if="${prev!=null}" class="prevButtonDiv">
                    <div th:if="${next!=null}" class="prevButtonDiv">
                        <a th:href="@{'/applicationdetails/' + ${prev}}">&#8249; Prev</a>

                        <a th:href="@{'/applicationdetails/' + ${next}}">Next &#8250;</a>
                    </div>
                </div>
            </div>
        </div>












        <!--
        <div th:if="${ecommercelisting}">
            <div class="info">Name : </div>
            <div><a th:text="${ecommercelisting.getEcommerceName()}">klik hier</a></div><br>
            <div class="info">Type : </div>
            <div><p th:text="${ecommercelisting.getType()}">0</p></div><br>
            <div class="info">Location : </div>
            <div><p th:text="${ecommercelisting.getLocation()}">no</p></div><br>-->




        <div th:replace="~{/fragments/headerfooter :: footer}">This is the footer</div>

</body>
</html>