<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta ecommerceName="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"  href="/css/start.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="internationalization.js"></script>


</head>
<body>

<div th:replace="~{/fragments/headerfooter :: header}">This is the header</div>

<div>

  <div th:if="${showFilter}" >
    <div class="verticalmargin">
      <a th:href="@{/ecommercelist}" class="btn btn-outline-dark">-</a>
    </div>

    <form>
      <h3>Name</h3>
      <div class="onefilter">
        <label for="keyword" class="filtername">keyword</label>
        <input type="text" id="keyword" name="keyword" th:value="${keyword}">
      </div>
      <div class="onefilter">
        <input type="submit" value="search" class="btn btn-outline-dark">
      </div>

      <h3>Price</h3>
      <div class="onefilter">
        <label for="minPrice" class="filtername">min</label>
        <input type="number" id="minPrice" name="minimumPrice" th:value="${minimumPrice}" step="500"> <span>price</span>
      </div>
      <div class="onefilter">
        <label for="maxPrice" class="filtername">max</label>
        <input type="number" id="maxPrice" name="maximumPrice" th:value="${maximumPrice}" step="500"> <span>price</span>
      </div>

      <h3>Ecommerce Type</h3>
      <div class="onefilter">


        <label for="typefba" class="filtername">FBA</label>
        <input type="radio" id="typefba" th:checked="${type!=null && type=='FBA'}" value="FBA" name="type">

        <label for="typekdp" class="filtername">KDP</label>
        <input type="radio" id="typekdp" th:checked="${type!=null && type=='KDP'}" value="KDP" name="type">

        <label for="typemba" class="filtername">MBA</label>
        <input type="radio" id="typemba" th:checked="${type!=null && type=='MBA'}" value="MBA" name="type">

        <label for="typeshopify" class="filtername">SHOPIFY</label>
        <input type="radio" id="typeshopify" th:checked="${type!=null && type=='SHOPIFY'}" value="SHOPIFY" name="type"> <br>


      </div>
      <h3>Low to High</h3>
      <label for="profit" class="filtername">LOW TO HIGH</label>
      <input type="checkbox" id="profit" th:checked="${profit}"  value="profit" name="profit">



    </form>





  </div>

  <div  th:unless="${showFilter}">
    <div class="verticalmargin">
      <a th:href="@{/ecommercelist/filter}" class="btn btn-outline-dark">+</a>
    </div>
  </div>

<div th:each="ecommerce: ${allEcommerce}">

<div class="border-listings">
  <img class="img-listing"th:src="@{/img/fitness.jpg}" >
    <span class="ecommerce-name" th:text="${ecommerce.getEcommerceName()}">ecommerce name</span>


  <a class="buttonLook mediumButton" th:href="@{'/ecommercedetails/'+${ecommerce.getId()}}">
    <div class="btn-listing">
    <button class="btn btn-default btn-lg">More Details
    </button>
      </a>
    </div>
  <div class="ecommerce-type">
    <span th:text="'Type: '+${ecommerce.getEcommerceType()}">ecommerce name</span>
  </div>
  <div class="ecommerce-profit">
    <span th:text="'Monthly Profit: '+${ecommerce.getMonthlyProfit()}+' $'">ecommerce name</span>
  </div>
  <div class="ecommerce-price">
    <span th:text="'Price: '+${ecommerce.getEcommercePrice()}+' $'">ecommerce name</span>
  </div>
    <div class="ecommerce-location">
      <i class="fas fa-map-pin" ></i>
    <span th:text="${ecommerce.getLocation()}">ecommerce name</span>
    </div>

  </div>
</div>





</div>

<div th:replace="~{/fragments/headerfooter :: footer}">This is the footer</div>
</body>
</html>