<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta ecommerceName="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"  href="/css/start.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="internationalization.js"></script>


</head>
<body>

<div th:replace="~{/fragments/headerfooter :: header}">This is the header</div>






    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="width:100%; height:auto;"th:src="@{/img/ecommerce1.jpg}" alt="Image 1">
                <div class="carousel-caption">
                    <h1>Welcome to Flippin!</h1>
                    <p>Where you can buy online businesses</p>
                    <div class="editButtonDiv">
                        <a class="buttonLook smallButton coolButton" href="/marketplacelist/1" >Marketplace</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 2000 // Slide duration in milliseconds (2 seconds in this example)
        });
    });
</script>


<div th:replace="~{/fragments/headerfooter :: footer}">This is the footer</div>
</body>
</html>